{% extends 'base.html.twig' %}

{% block calendar %}{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-2">
            {{ message|trans }}
        </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning mt-2">
            {{ message|trans }}
        </div>
    {% endfor %}

    <div class="row mt-5 mb-3">
        <div class="col-sm-12 text-center">
            <h3>{{ 'Fishing Pond Sector Reservation'|trans }}</h3>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12" style="overflow: auto">
            <div class="calendar-wrapper">
                {{ include('includes/calendar.html.twig') }}
            </div>
        </div>
    </div>
    <div class="row mt-3 justify-content-center">
        <div class="col-md-10 box box-success calendar_legend">
            <div class="box-header with-border text-center legend_meanings">
                {{ 'Calendar fields values'|trans }}
            </div>
            <div class="box-header with-border text-center legends mt-1">
                <div class="legend_parent d-inline-block">
                    <span class="legend_span legend_alignment busy-start_from_20"></span>
                    <span class="pl-2 legend_alignment"
                          style="font-size: 14px;">- {{ 'free from 8:00 to 20:00'|trans }}</span>
                </div>
                <div class="legend_parent d-inline-block">
                    <span class="legend_span legend_alignment busy-start_from_8"></span>
                    <span class="pl-2 legend_alignment"
                          style="font-size: 14px;">- {{ 'free from 20:00 to 8:00'|trans }}</span>
                </div>
                <div class="legend_parent d-inline-block">
                    <span class="legend_span legend_alignment busy"></span>
                    <span class="pl-2 legend_alignment" style="font-size: 14px;"> - {{ 'Busy'|trans }}</span>
                </div>
                <div class="legend_parent d-inline-block">
                    <span class="legend_span legend_alignment free"></span>
                    <span class="pl-2 legend_alignment" style="font-size: 14px;"> - {{ 'Free'|trans }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 pond_wrapper">
            {{ include('includes/reservoir.html.twig') }}
        </div>
        <div class="col-md-6 box box-success information_tab">
            <div class="h4 mt-3 text-center">Rezervacijos informacija</div>
            <hr>
            <div>Kalendoriuje spauskite ant norimo rezervuoti sektoriaus ir dienos sankirtos - naršyklė atidarys naują
                langą, kuriame galėsite supildyti norimos rezervacijos duomenis.
            </div>
            <hr>
            <div class="h4 mt-3 text-center">Kainos</div>
            <hr>
            <ul>
                <li>Minimalus mokestis vienam asmeniui už žūklę - 5 €.</li>
                <li>Valandinis žvejybos mokestis vienam asmeniui - 1 € už valandą.</li>
                <li>Žūklė visą dieną vienam asmeniui - 10 €.</li>
                <li>Žūklė visą parą vienam asmeniui - 20€. (leidžiama tik nuolatiniams lankytojams)</li>
                <li>3 sektorius rezervuojamas kartu su nameliu. Namelio nuoma: para 20 €, diena 10 €.</li>
                <li>Mat'o nuoma žūklei 0 €.</li>
                <li>Metinis abonementas 200 € (namelio nuoma neįskaičiuojama).</li>
                <li>Už sutartą mokestį galima nuomoti visą tvenkinį įmonių, būrelių, klubų ar organizacijų žūklės
                    varžyboms organizuoti.
                </li>
                <li>Žvejojant dviese - nuolaida 20%. Ne daugiau kaip 6 meškerės po 1 kabliuką.</li>
            </ul>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>const json_content = '{{ jsonContent|json_encode }}'</script>
    <script src="{{ asset('../libs/mapoid.js') }}" defer></script>
    <script src="{{ asset('build/js/calendar.js') }}" defer></script>
{% endblock %}
