{% extends 'base.html.twig' %}

{% block title %}{{ 'My reservations'|trans }}{% endblock %}

{% block body %}
    <div class="row mt-5 justify-content-center">
        <div class="col-sm-12 box box-success p-3">
            <div class="box-header with-border">
                <div>
                    <span>{{ 'Connected as'|trans }}:</span>
                    <span class="font-weight-bold">{{ username }}</span>
                </div>
                <div>
                    <span>{{ 'Your email'|trans }}:</span>
                    <span class="font-weight-bold"> {{ email }}</span>
                </div>
            </div>
            <div class="box-header with-border">
                <div class="h3 text-center done_reservations">{{ 'Your reservations'|trans }}</div>
            </div>
            <div class="box-body mt-3 mb-3 ur_table_wrapper">
                <table class="ur_table table table-bordered table-hover dataTable">
                    <thead class="text-center">
                        <tr class="ur_table_head_row">

                        </tr>
                    </thead>
                    <tbody class="tbody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/my_reservations.js') }}" defer></script>
    <script>const user_data = '{{ userData|json_encode }}'</script>
{% endblock %}
