<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ 'Big Fishes'|trans }}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <link rel="stylesheet" href="{{ asset('../libs/adminLTE.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    {% endblock %}
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ asset('../images/favicon.ico') }}">
    {% block canonical_meta %}{% endblock %}
</head>
<body>
<div class="container">
    <header class="row">
        <div class="col-lg-5 col-xs-12 text-center logo_wrapper" style="height: 95px; width: 100%">
            <i class="fa fa-bars hamburger-icon"></i>
        </div>
        <div class="col-lg-7 col-sm-12 undertop_background">
            <ul class="float-right navigation_menu_links">
                <li class="d-inline-block p-1">
                    <a class="navigation_menu_item" href="./">{{ 'Calendar'|trans }}</a>
                </li>
                {% if not app.user %}
                    <li class="d-inline-block p-1">
                        <a class="navigation_menu_item" href="{{ path('app_register') }}">{{ 'Registration'|trans }}</a>
                    </li>
                {% endif %}
                {% if is_granted ('ROLE_ADMIN') %}
                    <li class="d-inline-block p-1">
                        <a class="navigation_menu_item" href="{{ path('my_reservations') }}">{{ 'My reservations'|trans }}</a>
                    </li>
                    <li class="li_menu_item p-1">
                        <a class="navigation_menu_item" href="{{ path('admin') }}">{{ 'AdminSide'|trans }}</a>
                    </li>
                    <li class="li_menu_item p-1">
                        <a class="navigation_menu_item" href="{{ path('app_logout') }}">{{ 'Logout'|trans }}</a>
                    </li>
                {% elseif is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="d-inline-block p-1">
                        <a class="navigation_menu_item" href="{{ path('my_reservations') }}">{{ 'My reservations'|trans }}</a>
                    </li>
                    <li class="li_menu_item p-1">
                        <a class="navigation_menu_item" href="{{ path('app_logout') }}">{{ 'Logout'|trans }}</a>
                    </li>
                {% else %}
                    <li class="li_menu_item p-1">
                        <a class="navigation_menu_item" href="{{ path('app_login') }}">{{ 'Sign In'|trans }}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </header>
    {% block body %}{% endblock %}
</div>

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <script src="{{ asset('build/js/app.js') }}" defer></script>
{% endblock %}
</body>
</html>
